<div class="error-container">
    @if (Message != string.Empty)
    {
        <span style="color: red;" class="material-symbols-outlined">
            error
        </span>
        <p class="error-text">@Message</p>
    }
</div>