<div class="centered-content">
    <div class="content">
        <img width="300" height="300" src="imgs/anime-frieren.gif" alt="" />
        <h3 style="padding-top: 8px;">@Message</h3>
    </div>
</div>