<div class="centered-content">
    <div class="content">
        <img width="300px" height="300px;" src="imgs/anime-frieren.gif" alt="" />
        <h3 style="padding-top: 8px;">@Message</h3>
    </div>
</div>