.form-container {
    width: 50%;
    align-content: center;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 15px;
}

.header-container {
    padding-top: 10px;
    border-top: 2px solid black;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.input-container {
    padding: 5px;
}

.btn {
    align-self: center;
    margin-top: 10px;
}
