@page "/"
@using ProjectName.DataAccess.Repository
@inject IToastService ToastService
@inject AuthenticationService AuthService

<h1>ddd</h1>
<ImageUploader Image="Image"></ImageUploader>

<button @onclick="() => Button()">asd</button>
<button @onclick="() => Verifia()">sdad</button>
