@page "/"
@using ProjectName.DataAccess.Repository
@inject IToastService ToastService
@inject AuthenticationService AuthService

<h1>ddd</h1>
<ImageUploader Image="Image"></ImageUploader>

<DataExporter Data="@tableData" FileName="Export.csv" />
@code {
    private List<object> tableData = new List<object>()
    {
        new object() {}
    }
    ; // Populate data here
}
<button @onclick="() => Button()">asd</button>
<button @onclick="() => Verifia()">sdad</button>