@page "/Login"
@inject LoginAttemptService LoginAttemptService
@inject IToastService ToastService
@using Blazored.Toast
@using Blazored.Toast.Configuration
@using Blazored.Toast.Services
@using ProjectName.Service
<div class="Login-card">
    <div>Login</div>
    @if (error != string.Empty)
    {
        <div class="mb-2">
            <b class="text-danger">@error</b>
        </div>

    }
    <div>
        <input type="Email" placeholder="Email" @bind-value="model.Email" />
    </div>
    <div>
        <input type="password" placeholder="Password..." @bind-value="model.Password" />
    </div>
    <div>
        <button class="Login-button" @onclick="Authenticate">Login</button>
    </div>
</div>
