@using ProjectName.DataAccess.Repository;

@inject AuthenticationService AuthService


@if (!string.IsNullOrEmpty(QrCodeImage))
{
    <p>Scan de onderstaande QR-code met Google Authenticator op je telefoon:</p>
    <img src="data:image/png;base64,@QrCodeImage" class="img-thumbnail mx-auto d-block w-50 h-50" />
    <br />
    <p>Als u de QR-code niet kunt scannen, kunt u de volgende sleutel handmatig invoeren in de Google Authenticator-app:</p>
    <strong class="mx-auto d-block m-3">@SecretKey</strong>
}
else
{
    <p>Generating QR code...</p>
}
<input type="text" @bind="_otpCode" class="form-control m-3" placeholder="Enter code" />
<p class="text-danger text-center mx-auto d-block">@_validationMessage</p>
<button class="btn btn-primary btn-lg w-50 mx-auto d-block m-3 " @onclick="ValidateCode">Submit</button>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [Parameter] public required string Email { get; set; }
    [Parameter] public required string QrCodeImage { get; set; }
    [Parameter] public required string SecretKey { get; set; }
    private string _validationMessage = string.Empty;
    private string _otpCode = string.Empty;

    //Validate the code if its correct if not try it again until its right
    private async Task ValidateCode()
    {
        if (AuthService.ValidateOtpCode(_otpCode, SecretKey))
        {
            await BlazoredModal.CloseAsync(ModalResult.Ok());
        }
        else
        {
            _validationMessage = "Ongeldige code. Probeer het opnieuw.";
        }
    }
}